/* Breadcrumb */

#breadcrumb-wrapper
  .breadcrumb
    margin-left: 0
    margin-top: 3px
    .inline
      color: $gray333
      font-size: 11px
      a
        color: $dark_yellow
        text-transform: uppercase
      .delimiter
        color: $dark_yellow  
