/* Buscador 

.buscador
  float: right
  margin: 0 0 5px 10px
  margin-top: 7px
  margin-left: 0
  margin-right: 15px
  position: relative
  .form-type-textfield, .form-actions
    display: block
    float: left
    padding: 0
    margin: 0
  input.form-text
    background: rgba(255, 255, 255, 0.75)
    font-family: $regular
    font-style: italic
    font-size: 12px
    color: $gray666
    border: 0
    padding: 4px 8px
    +border-radius(2px 0px 0px 2px)
    position: relative
    z-index: 9
    &:focus
      outline: 0
  input.form-submit
    background: image-url("ico_lupa.png") 0 2px no-repeat rgba(255,255,255,0.75)
    text-indent: -9999px
    width: 25px
    padding: 4px
    font-size: 14px
    border: 0
    height: 24px
    +border-radius(0px 2px 2px 0px)
    position: relative
    z-index: 9
    &:focus
      outline: 0

