/* Menu Principal 

#nav-wrapper
  #menu-bar
  li
    border-right: 1px solid $white
    &:first-child 
      text-indent: 140px
  a
    display: block
    padding: 10px
    font-family: $bold
    text-transform: uppercase
    color: $white
    padding-right: 25px
    padding-left: 25px
    &:hover, &.active
      +trans(0.2s ease-in-out)
      border-bottom: 8px solid $yellow
      text-decoration: none
      height: 12px

