/* Menu Social

.menu-social
  ul
    li
      display: inline-block
      list-style-type: none
      margin-right: 10px
      a
        display: block
        text-indent: -9999px
        width: 34px
        height: 34px
        &.facebook
          background: image-url('sprite_FB.png') no-repeat
        &.twitter
          background: image-url('sprite_Tw.png') no-repeat
        &.youtube
          background: image-url('sprite_Youtbube.png') no-repeat
        &.flickr
          background: image-url('sprite_flicker.png') no-repeat
        &.google
          background: image-url('sprite_googleplus.png') no-repeat
        &:hover
          background-position-y: -34px
