/* Pre Header
#preheader
  .region-preheader

  /* Menu Superior 
  .menu-preheader
    margin-top: 8px
    float: right
    margin-right: -30px
    ul, li
      margin: 0
      display: inline-block
      a
        font-size: 12px
        text-transform: uppercase
        color: $white
        text-transform: capitalize
        padding: 3px 10px
        font-family: $regular
        &:active,
        &.active,
        &:hover
          background: rgba(227,166,21,0.5)
          text-decoration: none
          +border-radius(5px)
          +trans(0.2s ease-in-out)
