/* Enlaces de imprimir

.print-links
  +fright()
  .print-link
    a
      display: block
      height: 20px
      width: 20px
      
      img
        display: none
          
    .print_html, .print_mail, .print_pdf
      float: left
    .print_html
      margin-left: 0
      a
        background: url(../images/ico_print.png) no-repeat left top
    .print_mail
      
      a
        background: url(../images/ico_mail.png) no-repeat left top
