@import compass/css3
@mixin trans($val...)
  -webkit-transition: $val
  -moz-transition: $val
  -o-transition: $val
  transition: $val


/*-------------------
  Color variables 
  -------------------

$white: #ffffff
$white1: #fcfcfc
$white2: #fafafa
$white3: #f5f5f5
$white4: #d6d6d6

$red: #f03c29
$dark_red: #a4091e
$blue: #265d80
$light_blue: #6490d9
$yellow: #f7a700
$dark_yellow: #A47505

$gray_transparent: rgba(215, 215, 215, 0.5)
$gray: #f9fbfc
$gray1: #f0f2f2
$gray2: #acb0b3
$gray3: #a1a7ac
$gray4: #939495
$gray5: #9c968e
$gray6: #979788
$gray7: #6a6868
$gray8: #4e5860
$gray9: #545454
$gray10: #343537
$gray11: #EBEBEB
$gray666: #666666
$gray333: #333333
$gray_border: #e5e7e8

$black_title: #1a171b
$black: #0c0c0e

/* ---------------------
  Font's definitions 
  ----------------------
@font-face
  font-family: 'open_sanscondensed_light'
  src: url('../../fonts/opensans-condlight-webfont.eot')
  src: url('../../fonts/opensans-condlight-webfont.eot?#iefix') format("embedded-opentype"), url('../../fonts/opensans-condlight-webfont.woff') format("woff"), url('../../fonts/opensans-condlight-webfont.ttf') format("truetype"), url('../../fonts/opensans-condlight-webfont.svg#open_sanscondensed_light') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'open_sans_condensedbold'
  src: url('../../fonts/opensans-condbold-webfont.eot')
  src: url('../../fonts/opensans-condbold-webfont.eot?#iefix') format("embedded-opentype"), url('../../fonts/opensans-condbold-webfont.woff') format("woff"), url('../../fonts/opensans-condbold-webfont.ttf') format("truetype"), url('../../fonts/opensans-condbold-webfont.svg#open_sans_condensedbold') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'open_sansbold'
  src: url('../../fonts/opensans-bold-webfont.eot')
  src: url('../../fonts/opensans-bold-webfont.eot?#iefix') format("embedded-opentype"), url('../../fonts/opensans-bold-webfont.woff') format("woff"), url('../../fonts/opensans-bold-webfont.ttf') format("truetype"), url('../../fonts/opensans-bold-webfont.svg#open_sansbold') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'open_sansextrabold'
  src: url('../../fonts/opensans-extrabold-webfont.eot')
  src: url('../../fonts/opensans-extrabold-webfont.eot?#iefix') format("embedded-opentype"), url('../../fonts/opensans-extrabold-webfont.woff') format("woff"), url('../../fonts/opensans-extrabold-webfont.ttf') format("truetype"), url('../../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'open_sansregular'
  src: url('../../fonts/opensans-regular-webfont.eot')
  src: url('../../fonts/opensans-regular-webfont.eot?#iefix') format("embedded-opentype"), url('../../fonts/opensans-regular-webfont.woff') format("woff"), url('../../fonts/opensans-regular-webfont.ttf') format("truetype"), url('../../fonts/opensans-regular-webfont.svg#open_sansregular') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'open_sanssemibold'
  src: url('../../fonts/opensans-semibold-webfont.eot')
  src: url('../../fonts/opensans-semibold-webfont.eot?#iefix') format("embedded-opentype"), url('../../fonts/opensans-semibold-webfont.woff') format("woff"), url('../../fonts/opensans-semibold-webfont.ttf') format("truetype"), url('../../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format("svg")
  font-weight: normal
  font-style: normal

/* -----------------
  Fonts variables
  ------------------

$regular: open_sansregular
$bold: open_sansbold
$semibold: open_sanssemibold
$extrabold: open_sansextrabold
$condensed: open_sanscondensed_light
$condensedbold: open_sans_condensedbold

/* ------------------
  Height Variables
  -------------------
$hfooter: 203px
$heightpreheader: 38px
$hheight: 72px


/* ------------------
  Structure
  -------------------

/* Body */

body
  font-family: $regular
  color: $gray9
  font-size: 13px
  line-height: 1.7em

/* Titles.

h1, h2, h3, h4, h5, h6
  line-height: 1.3em

h1
  font-size: 2.2em
  font-weight: 300
  padding: 0 0 0.5em
  margin: 0

h2
  font-size: 1.8em
  font-weight: 300
  margin-top: 20px
  margin-bottom: 0.75em

h3
  font-size: 1.4em
  margin-bottom: 1em

h4
  font-size: 1.2em
  margin-bottom: 0.8em

h5
  font-size: 1.1em
  font-weight: 600
  margin-bottom: 0

h6
  font-size: 1em
  font-weight: bold

/* Paragraph styles.

p
  margin: 0 0 1em 0

/* List styles.

ul, ol
  margin-left: 0
  padding-left: 2em

/* Table styles.

table
  width: 99%

tr
  &.even td
    padding: 10px 5px
  &.odd
    background-color: white
    td
      padding: 10px 5px

/* Code.

pre, code, tt
  font: 1em "andale mono", "lucida console", monospace
  line-height: 1.5

pre
  background-color: #efefef
  display: block
  padding: 5px
  margin: 5px 0
  border: 1px solid #aaaaaa

/* List styles.

ul
  list-style-type: disc
  ul
    list-style-type: circle
    ul
      list-style-type: square
      ul
        list-style-type: circle

ol
  list-style-type: decimal
  ol
    list-style-type: lower-alpha
    ol
      list-style-type: decimal

/* Abbreviation.

abbr
  border-bottom: 1px dotted #666666
  cursor: help
  white-space: nowrap
